.footer_container{
    display: flex;
    padding: 2rem 7rem 2rem 7rem;
    align-items: center;
    justify-content: space-evenly;

}
.footer_logo_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_logo{
    width: 10rem;
}
.footer_quick_links_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_service_container{
    display: flex;
    flex-direction: column;
}
.footer_connect_container{
    display: flex;
    flex-direction: column;
}
.link{
    color: #757274;
    margin-bottom: 1rem;
}
.link:hover{
    cursor: pointer;
}

.copy_rights{
    color: #757274;
    text-align: center;
}
@media (max-width: 1300px){
    .footer_container{
        padding: 2rem 2rem 1rem 2rem;
        flex-direction: column;
    }
    .footer_quick_links_container{
        flex-direction: row;
    }
    .link{
        margin: 1rem;
        text-align: center;
    }
    .footer_service_container{
        flex-direction: row;
    }
    .footer_connect_container{
        flex-direction: row;
    }
    .footer_connect_container p{
        margin: 5px;
    }
}