.footer_container{
    display: flex;
    padding: 2rem 7rem 2rem 7rem;
    align-items: center;
    justify-content: space-evenly;

}
.footer_logo_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_logo{
    width: 10rem;
}
.footer_quick_links_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link{
    color: #757274;
    margin-bottom: 1rem;
}
.link:hover{
    cursor: pointer;
}

.copy_rights{
    color: #757274;
    text-align: center;
}