.products_container{
    padding: 4rem 7rem 0rem 7rem;
}
.exclusive_title{
    text-align: center;
    font-size: var(--size-large);
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 3rem;
}

.exclusive_image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}
.products_container{
    margin-bottom: 4rem;
}

@media (max-width: 1300px){
    .products_container{
        padding: 4rem 2rem 0rem 2rem;
    }
    .exclusive_title{
        font-size: var(--size-medium);
        text-align: center;
        width: 100%;
    }
    
}

@media (max-width: 400px){
    .exclusive_title{
        font-size: var(--size-small);
    }

}