@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.about_container{
    width: 100%;
    min-height: 100vh;
    padding: 4rem 7rem 0rem 7rem;
}
.about_title{
    text-align: center;
    font-size: 4rem;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 3rem;
}
.image_items_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-bottom: 3rem;
}
.text_blocks{
    display: flex;
    justify-content: space-evenly;

}
.text_block{
    width: 25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
}

.text_block p{
    font-family: "Nunito Sans", sans-serif;
    color: #757274;
    line-height: 1.5;
    font-size: 18px;
    text-align: left;
}

@media (max-width: 1300px){
    .text_blocks{
        flex-direction: column;
    }
    .text_block{
        width: 100%;
    }
    .text_block p{
        text-align: center;

    }
    .text_block span{
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;

    }
 .about_container{
    padding: 4rem 2rem 0rem 2rem;
 }
    
}